
<section class="sign-in">
    <div class="container">
    <div class="row sign-content">
        <div class="col-sm-12 col-md-8 offset-md-2">
            <div class="row ">
                <div class="col-sm-6">
                    <div class="signin-image">
                        <img src="../../assets/signin-image.webp" class="img-responsive" alt="sing up image">
                    </div >  
                    <a [routerLink]="'/signup'" routerLinkActive="active" class="text-account" >Create an account</a>
                </div>
                <div class="col-sm-6">
                    <div class="signin-form">
                        <h2 class="form-title">Sign in</h2>
                        <form [formGroup]="signinForm" (ngSubmit)="onSubmit()" >
                            <div class="form-group">
                                <label for="your_email" class="cmt-5"><i class="fa fa-user"></i></label>
                                <input type="email" class="field-input" formControlName="email"
                                [ngClass]=" {'is-invalid': submitted && f.email.errors} " placeholder="Enter Email">
                                <div *ngIf="submitted && f.email.errors "class="invalid-feedback">
                                    <small *ngIf="f.email.errors.required">Email not register</small>
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="your_password" class="cmt-5"><i class="fa fa-lock"></i></label>
                                <input type="password" class="field-input" formControlName="password"
                                 [ngClass]="{'is-invalid': submitted && f.password.errors}"  placeholder="Password">
                                <div *ngIf="submitted && f.password.errors " class="invalid-feedback">
                                    <small *ngIf="f.password.errors.required">Password is required</small>
                                </div> 
                            </div>
                            <div class="form-group">
                                <input type="checkbox" formControlName="checkbox" >
                                <label for="checkbox"  class="checkbox">Remember me</label>
                            </div>
                            <div class="form-group form-button">
                                <button type="submit" [disabled]="!signinForm.valid" class="form-submit">Log in</button>
                            </div>
                        </form>
                        <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-google"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
</section>

  

