<hr>
<section class="clasic-body">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="footer-brand">
                    <a href="#" class="brand contactdatails ">
                        <img src="../../assets/classy-logo.webp" width="80" height="40">
                        <sub class="logo">Food</sub>
                    </a>
                </div>
                <ul class="list-schedule">
                    <li>
                        <span class="contactdatails">Weekdays:</span>
                        <span> 08:00am - 08:00pm </span>
                    </li>
                    <li>
                        <span class="contactdatails">Weekends:</span>
                        <span> 10:00am - 06:00pm </span>
                    </li>
                </ul>
                <div class="footer-social">
                    <div class="group-lg">
                        <p>Get Social</p>
                        <ul class="icons">
                            <li>
                                <a href="#" class="social-icons "><li class="fa fa-facebook fa-lg "></li></a>
                            </li>
                            <li>
                                <a href="#" class="social-icons "><li class="fa fa-twitter fa-lg"></li></a>
                            </li>
                            <li>
                                <a href="#" class="social-icons"><li class="fa fa-instagram fa-lg "></li></a>
                            </li>
                            <li>
                                <a href="#" class="social-icons "><li class="fa fa-google-plus fa-lg"></li></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 ">
                <h4 class="contact-title">Contacts</h4>
                <ul class="contact">
                    <li>
                        <div class="unit unit-spacing">
                            <div class="unit-left">
                                <i class="fa fa-map-marker icon"></i>
                            </div>
                            <div class="unit-body mx-4">
                                <a href="#" class="contactdatails">
                                     Jai Bheema Nagar, BTM Layout Stage 1, 
                                     Top and town Bengaluru - 560068, Karnataka
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="unit unit-spacing">
                            <div class="unit-left">
                                <i class="fa fa-phone icon"></i>
                            </div>
                            <div class="unit-body mx-4">
                                <a href="#" class="contactdatails">
                                 + (91) 8317366930
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="unit unit-spacing">
                            <div class="unit-left">
                                <i class="fa fa-envelope icon"></i>
                            </div>
                            <div class="unit-body mx-3">
                                <a href="#" class="contactdatails">
                                manzoor101058@gmail.com
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-4 ">
                <h4 class="contact-title">Newsletter</h4>
                <p class="contact">
                    Subscribe to our newsletter to receive weekly news,
                     updates, special offers, and exclusive discounts.
                </p>
                <form class="form-inline" #messageForm="ngForm" (ngSubmit)="onSubmit(messageForm)">
                    <div class="form-wrap">
                        <input type="email" name="email" class="form-control form-input" email required ngModel placeholder="Enter your e-mail">
                    </div>
                        <button class="btn btn-sm btn-primary mx-3 btn-icon"type="submit" [disabled]="!messageForm.valid">
                            <i class="fa fa-telegram fa-lg"></i>
                        </button>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="footer-panel">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <p class="rights">
                    <span>&copy;</span>
                    <span class="copyright">2020</span>
                    <span>&nbsp;</span>
                    <span> Classyfood. </span>
                    <span>&nbsp;</span>
                    <span>All rights reserved</span>
                </p>
            </div>
            <div class="col-md-4">
                <div class="footerimg ">
                    <img src="../../assets/payment-1.png" class="mx-2" width="45" height="15">
                    <img src="../../assets/payment-2.png" class="mx-2"  width="46" height="28">
                    <img src="../../assets/payment-3.png" class="mx-2"  width="62" height="17">
                </div>
            </div>
            <div class="col-md-4">
                <a href="#" class=" rights" >Privacy Policy</a>
            </div>
        </div>
    </div>
</section>












