<section class="sign-up">
        <div class="row sign-content">
            <div class="col-sm-12 col-md-10 offset-md-1">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="signup-image">
                            <img src="../../assets/signup-image.webp" class="img-responsive " alt="sing up image">
                            <p>
                                <a routerLink="/login" class="member" >I am already member</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="signup-form">
                            <h2 class="form-title">Sign up</h2>
                            <form  name="form" #signUpForm="ngForm" (ngSubmit)=" signUpForm.form.valid && onSubmit(signUpForm)">
                                <div class="form-group">
                                    <label for="your name" class="cmt-5"><i class="fa fa-user"></i></label>
                                     <input type="text" class="field-input" name="username" ngModel required #username="ngModel"
                                     [ngClass]="{'is-invalid': signUpForm.submitted && username.invalid} " placeholder="Your Name">
                                     <div *ngIf="signUpForm.submitted && username.invalid" class="invalid-feedback">
                                        <small *ngIf="username.errors.required" class="alert alert-danger">Name is required</small>
                                     </div>
                                </div>
                                <div class="form-group">
                                    <label for="your email" class="cmt-5"><i class="fa fa-envelope"></i></label>
                                     <input type="email" class="field-input" name="email" ngModel email required #email="ngModel"
                                     [ngClass]="{'is-invalid': signUpForm.submitted && email.invalid} " placeholder="Your Email">
                                     <div *ngIf="signUpForm.submitted && email.invalid" class="invalid-feedback">
                                        <small *ngIf="email.errors.required" class="alert alert-danger">Email is required</small>
                                        <small *ngIf="email.errors.email" class="alert alert-danger">Email must be a valid email</small>
                                     </div>
                                </div>
                                <div class="form-group">
                                    <label for="your_number" class="cmt-5"><i class="fa fa-phone-square"></i></label>
                                     <input type="number" class="field-input" name="number" ngModel required #number="ngModel"
                                     [ngClass]="{'is-invalid': signUpForm.submitted && number.invalid}"  minlength="10" placeholder="Mobile No.">
                                     <div *ngIf="signUpForm.submitted && number.invalid " class="invalid-feedback" >
                                        <small *ngIf="number.errors.required" class="alert alert-danger">Mobile number is required</small>
                                        <small *ngIf="number.errors.minlength" class="alert alert-danger">number must be atleast 10 charecters</small>
                                     </div>
                                </div>
                                <div class="form-group">
                                    <label for="your_password" class="cmt-5"><i class="fa fa-lock"></i></label>
                                     <input type="password" class="field-input" name="password" ngModel required #password="ngModel"
                                     [ngClass]="{'is-invalid': signUpForm.submitted && password.invalid}"  minlength="6" placeholder="Password">
                                     <div *ngIf="signUpForm.submitted && password.invalid " class="invalid-feedback" >
                                        <small *ngIf="password.errors.required" class="alert alert-danger">Password is required</small>
                                        <small *ngIf="password.errors.minlength" class="alert alert-danger">Password must be atleast 6 charecters</small>
                                     </div>
                                </div>
                                <div class="form-group">
                                    <label for="confirm your password" class="cmt-5"><i class="fa fa-lock"></i></label>
                                    <input type="password" class="field-input" name="confirmPassword" ngModel #confirmPassword="ngModel" (keyup)="checkPassword(confirmPassword, password)"
                                     [ngClass]="{'is-invalid': signUpForm.submitted && confirmPassword.invalid}" required placeholder="Confirm your password">
                                     <div *ngIf="signUpForm.submitted && confirmPassword.invalid" class="invalid-feedback">
                                         <small *ngIf="confirmPassword.errors.required" class="alert alert-danger">Confirm password is required</small>
                                         <small *ngIf="confirmPassword.viewModel !== password.viewModel " class="alert alert-danger">Passwords must match</small>
                                     </div>
                                     

                                </div>


                                <div class="form-group">
                                    <input type="checkbox" name="acceptTerms"  ngModel #acceptTerms="ngModel"
                                    [ngClass]="{'is-invalid': signUpForm.submitted && acceptTerms.invalid}" required>
                                    <label for="acceptTerms"  class="checkbox" >I agree all statements in <a href="#">Terms of service</a></label>
                                    <p *ngIf="signUpForm.submitted && acceptTerms.invalid" class="invalid-feedback">Accept Ts & Cs is required </p>
                                </div>
                                <div class="form-group">
                                    <button type="submit" [disabled]="(!signUpForm.valid) && (!passwordMatched)"  class="form-submit ">Register</button>
                                    <button type="reset" class="form-cancle pull-right">Cancle</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>  