@media screen and (max-width: 768px){
    .signup-form  {
        padding-left: 0;
        padding: 0 50px;
    }
}
@media screen and (max-width: 768px){
    .signup-image  {
        padding-left: 0;
        padding: 0 30px;
    }
}
.signin-form, .signin-image {
    width: 50%;
    overflow: hidden;
}


.sign-up{
        background-color: white;
        box-shadow: -1px 1px 4px 4px #0000000d;
        border-radius: 10px;
   
}
.sign-content{
    padding-top: 67px;
    padding-bottom: 87px;
}
.form-submit{
    background: #6dabe4;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    margin: 0;
    box-shadow: 0px 2px 4px 2px #0000004f;
}
.checkbox{
    margin-left: 11px;
}

.form-group{
    position: relative;
    margin-bottom: 25px;    
}
.field-input{
    position: absolute;   
    width: 100%;
    border: none;
    border-bottom: 1px solid #999;
    padding: 3px 0px;
    font-family: Poppins;
    box-sizing: border-box;
    outline: none;
    margin-left: 11px;
}
h2{
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: #222;
    font-family: Poppins;
    font-size: 36px;
}
.cmt-5{
    margin-top: 5px;
}
.member{
    margin-left: 25%;
}
.form-cancle{
    position: relative;
    background: #b12b21;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    box-shadow: 0px 2px 4px 2px #0000004f;  
}
