<section class="invoice">
    <div class="container">
        <div class="card invoicecard">
            <div class="card-body">
                <h3 class="ordrId">Invoice 3939393 </h3>
                <hr>
                <div class="row">
                   <div class="col-sm-4">
                       <div class="row">
                           <div class="col-sm-2">
                               <i class="fa fa-user fa-3x icon"></i>
                           </div> 
                           <div class="col-sm-10">
                               <div class="form-group row">
                                   <div class="col-sm-4"> Name : </div>
                                   <div class="col-sm-8 formdata">
                                       <strong>Manzoor</strong>
                                   </div>
                               </div>
                               <div class="form-group row">
                                <div class="col-sm-4"> Email : </div>
                                <div class="col-sm-8 formdata">
                                    <strong>Manzoor@gmail.com</strong>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4"> Phone : </div>
                                <div class="col-sm-8 formdata">
                                    <strong>8317366930</strong>
                                </div>
                            </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-2" style=" border-left: 1px solid #f0f0f0;">
                            <i class="fa fa-truck fa-3x icon"></i>
                        </div> 
                        <div class="col-sm-10">
                            <div class="form-group row">
                                <div class="col-sm-4"> Name: </div>
                                <div class="col-sm-8 formdata">
                                    <strong> Manzoor Alam </strong>
                                </div>
                            </div>
                            <div class="form-group row">
                             <div class="col-sm-4"> City : </div>
                             <div class="col-sm-8 formdata">
                                 <strong>Bangalore</strong>
                             </div>
                         </div>
                         <div class="form-group row">
                             <div class="col-sm-4"> Zip/Post : </div>
                             <div class="col-sm-8 formdata">
                                 <strong>841226</strong>
                             </div>
                         </div>
                         <div class="form-group row">
                            <div class="col-sm-4"> Phone : </div>
                            <div class="col-sm-8 formdata">
                                <strong>831366930</strong>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 invoice1" style=" border-left: 1px solid #f0f0f0;">
                    <div class="clearfix">
                        <p class="pull-left">INVOICE NO</p>
                        <p class="pull-right">3939393</p>
                    </div>
                    <div class="clearfix">
                        <p class="pull-left">Date</p>
                        <p class="pull-right">jun 26</p>
                    </div>
                    <div class="clearfix">
                        <p class="pull-left">Status</p>
                        <p class="pull-right">Accepted</p>
                    </div>
                </div>
                </div>
                <div class="table-responsive mt-2">
                <table class="table table-hover table-bordered">
                    <thead class="text-center title">
                        <tr >
                            <th>#</th>
                            <th>Product Name</th>
                            <th >Price</th> 
                            <th>Extra Ingredient</th>
                            <th>Size / Quantity</th>
                            <th>Total</th>
                        
                        </tr>
                        
                    </thead>  
                    <tbody class="text-center">
                        <tr >
                            <td>1</td>
                            <td>pizza</td>
                            <td>60</td>
                            <td>--</td>
                            <td>2</td>
                            <td><i class="fa fa-rupee">60</i></td>   
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td class="text-right">
                                <strong> Total: </strong>
                            </td>
                            <td><i class="fa fa-rupee">60</i></td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td class="text-right">
                                <strong> Tax: </strong>
                            </td>
                            <td></td>
                        </tr>   
                        <tr>
                            <td colspan="4"></td>
                            <td class="text-right">
                                <strong> GrandTotal: </strong>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</section>
