<section class="invoice">
    <div class="container">
        <div class="card invoicecard">
            <div class="card-body">
                <h3 class="ordrId">Invoice {{obj.orderId}} <i class="fa fa-print pull-right" style="cursor: pointer;"></i> </h3>
                <hr>
                <div class="row">
                   <div class="col-sm-4">
                       <div class="row">
                           <div class="col-sm-2">
                               <i class="fa fa-user fa-3x icon"></i>
                           </div> 
                           <div class="col-sm-10">
                               <div class="form-group row">
                                   <div class="col-sm-4"> Name : </div>
                                   <div class="col-sm-8 formdata">
                                       <strong>{{obj?.userInfo?.username}}</strong>
                                   </div>
                               </div>
                               <div class="form-group row">
                                <div class="col-sm-4"> Email : </div>
                                <div class="col-sm-8 formdata">
                                    <strong>{{obj?.userInfo?.email}}</strong>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4"> Phone : </div>
                                <div class="col-sm-8 formdata">
                                    <strong>{{obj?.userInfo?.number}}</strong>
                                </div>
                            </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-2" style=" border-left: 1px solid #f0f0f0;">
                            <i class="fa fa-truck fa-3x icon"></i>
                        </div> 
                        <div class="col-sm-10">
                            <div class="form-group row">
                                <div class="col-sm-4"> Name: </div>
                                <div class="col-sm-8 formdata">
                                    <strong> {{obj?.deliveryInfo?.address?.firstname}} {{obj?.deliveryInfo?.address?.lastname}}</strong>
                                </div>
                            </div>
                            <div class="form-group row">
                             <div class="col-sm-4"> City : </div>
                             <div class="col-sm-8 formdata">
                                 <strong>{{obj?.deliveryInfo?.address?.city}}</strong>
                             </div>
                         </div>
                         <div class="form-group row">
                             <div class="col-sm-4"> Zip/Post : </div>
                             <div class="col-sm-8 formdata">
                                 <strong>{{obj?.deliveryInfo?.address?.pincode}}</strong>
                             </div>
                         </div>
                         <div class="form-group row">
                            <div class="col-sm-4"> Phone : </div>
                            <div class="col-sm-8 formdata">
                                <strong>{{obj?.deliveryInfo?.address?.phone}}</strong>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 invoice1" style=" border-left: 1px solid #f0f0f0;">
                    <div class="clearfix">
                        <p class="pull-left">INVOICE NO</p>
                        <p class="pull-right">{{obj?.orderId}}</p>
                    </div>
                    <div class="clearfix" *ngIf="obj.status">
                        <p class="pull-left">Date</p>
                        <p class="pull-right">{{obj?.status[obj?.status?.length-1]?.timeStemp |date}}</p>
                    </div>
                    <div class="clearfix" *ngIf="obj.status">
                        <p class="pull-left">Status</p>
                        <p class="pull-right">{{obj?.status[obj?.status?.length-1].status}}</p>
                    </div>
                </div>
                </div>
                <div class="table-responsive mt-2">
                <table class="table table-hover table-bordered">
                    <thead class="text-center title">
                        <tr >
                            <th>#</th>
                            <th>Product Name</th>
                            <th >Price</th> 
                            <th>Extra Ingredient</th>
                            <th>Size / Quantity</th>
                            <th>Total</th>
                        
                        </tr>
                        
                    </thead>  
                    <tbody class="text-center">
                        <tr *ngFor="let product of obj.orderItem; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{product?.productName}}</td>
                            <td>{{product?.discountPrice}}</td>
                            <td>--</td>
                            <td>{{product?.qty}}</td>
                            <td><i class="fa fa-rupee">{{product?.totalPrice}}</i></td>   
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td class="text-right">
                                <strong> Total: </strong>
                            </td>
                            <td><i class="fa fa-rupee">{{obj?.subTotal}}</i></td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td class="text-right">
                                <strong> Tax: </strong>
                            </td>
                            <td></td>
                        </tr>   
                        <tr>
                            <td colspan="4"></td>
                            <td class="text-right">
                                <strong> GrandTotal: </strong>
                            </td>
                            <td>{{obj?.grandTotal}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</section>
