.breadcrumb-wrap{
    height: 28rem;
    width: 100%;
    position: relative;
    z-index: -1;
    margin-top: -30px;
    }
    .bg-img{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
    }
    .overlay-bg{
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
    }

    .overlay-content {
        position: absolute;
        text-align: center;
        letter-spacing: 5px;
        width: 100%;
        top: 50%;
        color: #FFFFFF;
        text-transform: uppercase;
        padding: 0 2rem;
    }   


/* --------------cart-------------------- */

.cart {
    margin-top: 3.6rem;
    min-height: 30rem;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    margin-bottom: 2rem;
 
}
.head{
   color: #666666;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    text-align: center 
}

.cart-btn{
    padding: 0;
    height: 24px;
    line-height: 24px;
    width: 31px;
    border-top: 1px solid  #28a745;
    border-bottom: 1px solid #28a745;
    text-align: center;
    color: #333333;
    font-weight: 500;
    font-size: 13px;
}

/* ---------empty message--------------- */
.empty-message{
    text-align: center;
    margin: 0 auto;
    min-height: 14rem;
    padding: 2rem 1rem 0
}
.empty-message .fa{
 color: #C81912;
 font-size: 5em;
}
.empty-message h5{
    font-weight: 500;
    color: #666666;
    letter-spacing: 1px;
} 
.btn-primary{  
     color: #fff;
    background-color: #0a5ab1 !important;
    border-radius: inherit;
    padding: 5px 30px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

 }
/* --------------Pickup & Delivery------------------------ */

.option-radio{
    display: contents;
}

.radio-button{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

 input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: #eee;
    border-radius: 50%; 
    border: 2px solid black; 
}
/* ----------Total Amount ----------- */

.amount-wrapper{
    color: #666666;
    font-weight: 500;
    /* padding: 1rem 2rem 1rem 0; */
    
}
.Checkout-btn{
     background: #ca8e0c!important; 
   
    
    
}

.amount-wrapper .btn{
 width: 10rem;
    max-width: 100%;
    padding: 0.85rem 10px;
    margin: 8px 10px 2rem; 
    color: white;
    margin-left: 0;
}

 .btn-warn{
     background: #0a5ab1!important;
    max-width: 100%;
    
} 
 .btn-color{
   
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        padding: 0.84rem 2.14rem;
        font-size: 0.81rem;
        border: 0;
        border-radius: 0.125rem;
        cursor: pointer;
        text-transform: uppercase;
    
} 
