<nav class="sidebar">
    <ul>
        <li><a routerLink="category"> Categories
            </a>
            <!-- <ul>
                <li><a href="#" >Category-List</a></li>
                <li><a href="#">Add-Category</a></li>
                <li><a href="#">View-category</a></li>
                <li><a href="#">Edit-Category</a></li>
            </ul> -->
        </li>
        <li><a routerLink="product-item">Products</a></li>
        <li><a routerLink="orders">Orders</a></li>
    </ul>
</nav>


