<nav class="sidebar">
    <ul>
        <li *ngIf="isAdmin"><a routerLink="category"> Categories
            </a>
            <!-- <ul>
                <li><a href="#" >Category-List</a></li>
                <li><a href="#">Add-Category</a></li>
                <li><a href="#">View-category</a></li>
                <li><a href="#">Edit-Category</a></li>
            </ul> -->
        </li>
        <li><a [routerLink]="isAdmin == true ? 'product-list': 'product-item'">Products</a></li>
        <li><a [routerLink]="isAdmin == true ? 'order-list': 'orders'">Orders</a></li>
    </ul>
</nav>


