
    <div class="row">
        <div class="col-sm-12">
            <div class="card  ">
                <div class="card-header color"><h2 class="head">Category List</h2></div>
                <div class="card-body table-responsive " >
                    <button class="btn pull-right mb-2">Add Items</button>
                    <table class="table table-hover border">
                        <thead  class="color">
                            <tr >
                                <th >No.</th>
                                <th >Category Name</th>
                                <th >Type</th>
                                <th >Edit</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

