<section class="order-sec">
    <div class="container">
        <div class="row ">
            <div class="col-sm-12">
                <div class="list-group-item order-details mb-2" *ngFor="let order of orders;  let i = index">
                    <a (click)="onNvigate(order.id)" style="cursor: pointer;" class="nav-link ordernav">
                    <div class="row"  *ngFor="let product of order.orderItem; let productInd = index">
                            <div class="col-sm-3">
                                <div class="product-img">
                                    <img [src]="product.imagePath" alt="" width="75" height="80">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="product-title">
                                    <h5>{{product.productName}}</h5>
                                    <p>{{product.description}}</p>
                                </div>
                            </div>
                            <div class="col-sm-2" *ngIf="productInd === 0"><i class="fa fa-rupee"> {{order.grandTotal}} </i></div>
                            <div class="col-sm-3" *ngIf="productInd === 0">
                                <div class="deliverpart">
                                    <span class="dot"></span>
                                    <h5>{{order.status[order.status.length-1].status}}&nbsp;<span><small>({{order.status[order.status.length-1].timeStemp | date}})</small></span> </h5>
                                </div>
                               
                                <div class="deliverymsg text-center">{{order.status[order.status.length-1].title}}</div>
                            </div>
                        </div> 
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
