<div class="row">
    <div class="col-sm-12 col-md-10 offset-md-1">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Add Category Here</h2>
            </div>
            <div class="card-body">
                <form #categoryForm="ngForm" (ngSubmit)="addcategory(categoryForm)">
                    <div class="form-group">
                        <label for="categoryname">Category Name :</label>
                        <input type="text" class="form-control" name="categoryname" ngModel required>
                    </div>
                    <div class="form-group ">
                        <label for="type"> Type : </label>
                        <select class="ml-2 item-select" name="type" ngModel required>
                            <option class="active">--select--</option>
                            <option >Veg</option>
                            <option >Non-Veg</option>
                        </select>
                    </div>
                    <button class="btn btn-success" [disabled]="!categoryForm.valid"> Add Category</button>
                </form>
            </div>
            
        </div>
        
    </div>
</div>
