<h2>Slideshow Gallery</h2>
<div class="scontainer">
    <div class="sliders">
        <div class="numbertext">1 / 6</div>
        <img src="../../assets/image1.jpg" style="width:100%">
    </div>
    <div class="sliders">
        <div class="numbertext">2 / 6</div>
        <img src="../../assets/image2.jpg" style="width:100%">
    </div>
    <div class="sliders">
        <div class="numbertext">3 / 6</div>
        <img src="../../assets/image3.jpg" style="width:100%">
    </div>
    <div class="sliders">
        <div class="numbertext">4 / 6</div>
        <img src="../../assets/image4.jpg" style="width:100%">
    </div>
    <div class="sliders">
        <div class="numbertext">5 / 6</div>
        <img src="../../assets/image5.jpg" style="width:100%">
    </div>
    <div class="sliders">
        <div class="numbertext">6 / 6</div>
        <img src="../../assets/image6.jpg" style="width:100%">
    </div>
    <a class="prev" (click)="plusSlides()"><i class="fa fa-angle-left"></i></a>
    <a class="next" (click)="plusSlides()"><i class="fa fa-angle-right"></i></a>
    <div class="caption-container">
        <p id="caption"></p>
    </div>

<div class="row">
    <div class="column">
        <img class="demo cursor" src="../../assets/image1.jpg" style="width:100%" alt="The Woods">
    </div>
    <div class="column">
        <img class="demo cursor" src="../../assets/image2.jpg" style="width:100%" alt="Cinque Terre">
    </div>
    <div class="column">
        <img class="demo cursor" src="../../assets/image3.jpg" style="width:100%" alt="Mountains and fjords">
    </div>
    <div class="column">
        <img class="demo cursor" src="../../assets/image4.jpg" style="width:100%" alt="Northern Lights">
    </div>
    <div class="column">
        <img class="demo cursor" src="../../assets/image5.jpg" style="width:100%" alt="Nature and sunrise">
    </div>
    <div class="column">
        <img class="demo cursor" src="../../assets/image6.jpg" style="width:100%" alt="Snowy Mountains">
    </div> 
</div>

</div>
