
<div class="header-container">
    <div class="scontainer">
        <div class="row">
            <div class="col-sm-12">
                <div class="header">
                    <h1 class="logo">
                        <img src="../../assets/logo1.webp">
                    </h1>
                   <div class="right_head">
                       <div class="search_wrapper">
                           <div class="top-search">  
                               <i class="fa fa-search"> </i>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="nav-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="menu">
                    <li class="nav-1">
                        <a href="#"><span>Bread & Bakery</span></a>
                    </li>
                    <li class="nav-2">
                        <a href="#"><span>Drinks</span></a>
                    </li>
                    <li class="nav-3">
                        <a href="#"><span>Fresh Meats</span></a>
                    </li>
                    <li class="nav-4">
                        <a href="#"><span>Fresh Fish</span></a>
                    </li>
                    <li class="nav-5">
                        <a href="#"><span>Fruits & Vegetables</span></a>
                    </li>
                    <li class="nav-6">
                        <a href="#"><span>Grocery & Frozen</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu-block">
             <div id="menu-icon">Categories</div>
             <ul class="menu-phone">
                 <li class="nav-1">
                    <a href="#"><span>Bread & Bakery</span></a>
                 </li>
                 <li class="nav-2">
                    <a href="#"><span>Drinks</span></a>
                </li>
                <li class="nav-3">
                    <a href="#"><span>Fresh Meats</span></a>
                </li>
                <li class="nav-4">
                    <a href="#"><span>Fresh Fish</span></a>
                </li>
                <li class="nav-5">
                    <a href="#"><span>Fruits & Vegetables</span></a>
                </li>
                <li class="nav-6">
                    <a href="#"><span>Grocery & Frozen</span></a>
                </li>
             </ul>
        </div>
    </div>
</div>
























<!-- <h2>Slideshow Gallery</h2>
<div class="container">
    <div class="sliders">
        <div class="numbertext">1 / 6</div>
        <img src="../../assets/image1.jpg" style="width:100%">
    </div>
    <div class="sliders">
        <div class="numbertext">2 / 6</div>
        <img src="../../assets/image2.jpg" style="width:100%">
    </div>
    <div class="sliders">
        <div class="numbertext">3 / 6</div>
        <img src="../../assets/image3.jpg" style="width:100%">
    </div>
    <div class="sliders">
        <div class="numbertext">4 / 6</div>
        <img src="../../assets/image4.jpg" style="width:100%">
    </div>
    <div class="sliders">
        <div class="numbertext">5 / 6</div>
        <img src="../../assets/image5.jpg" style="width:100%">
    </div>
    <div class="sliders">
        <div class="numbertext">6 / 6</div>
        <img src="../../assets/image6.jpg" style="width:100%">
    </div>
    <a class="prev" (click)="plusSlides()"><i class="fa fa-angle-left"></i></a>
    <a class="next" (click)="plusSlides()"><i class="fa fa-angle-right"></i></a>
    <div class="caption-container">
        <p id="caption"></p>
    </div>

<div class="row">
    <div class="column">
        <img class="demo cursor" src="../../assets/image1.jpg" style="width:100%" alt="The Woods">
    </div>
    <div class="column">
        <img class="demo cursor" src="../../assets/image2.jpg" style="width:100%" alt="Cinque Terre">
    </div>
    <div class="column">
        <img class="demo cursor" src="../../assets/image3.jpg" style="width:100%" alt="Mountains and fjords">
    </div>
    <div class="column">
        <img class="demo cursor" src="../../assets/image4.jpg" style="width:100%" alt="Northern Lights">
    </div>
    <div class="column">
        <img class="demo cursor" src="../../assets/image5.jpg" style="width:100%" alt="Nature and sunrise">
    </div>
    <div class="column">
        <img class="demo cursor" src="../../assets/image6.jpg" style="width:100%" alt="Snowy Mountains">
    </div> 
</div>

</div> -->
