.header-container{
  padding: 0 0 48px;
}
*{
  margin: 0;
  padding: 0;
}
@media (min-width:970){
    .container{
      width: 970;
    }
}

.header .logo {
  float: left;
  display: block;
  text-decoration: none!important;
}
.header .right_head {
  float: right;
  padding: 3px 0 0;
}
@media only screen and (min-width: 768px){
.search_wrapper {
    float: right;
    margin: 0 0 0 11px;
    position: relative;
  
}
}
@media only screen and (max-width: 1199px) and (min-width: 992px){
.menu li {
    font-size: 12px;
    
}
}

.search_wrapper .top-search {
    background: #9abe2c ;
    padding: 0;
    width: 57px;
    height: 57px;
    border-radius: 6px;
    text-align: center;
    line-height: 56px;
    color: #fff;
    cursor: pointer;
}

.menu{
  background:#94b52b ;
  border-radius: 6px;
  list-style-type: none;
  margin: 0;
}
.menu li {
  text-align: left;
  position: relative;
  font-family: open sans,sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 99;
  padding: 23px;
  display: inline-block;
  border-right: 1px solid #789619;
  border-radius: 3px;
}
.menu li:hover{
  background-color: #789619;
} 
.menu li a{
  text-align: center;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
  margin-right: 13px;
  margin-left: 13px;
}

/* ------------Category-Navigation- Part----------------- */

@media only screen and (max-width: 767px){
.menu-block {
    margin: 0 10px;
}}

 @media only screen and (min-width: 992px){
#menu-icon, .menu-phone, .menu-block {
    display: none!important;
}
}
@media only screen and (max-width: 991px){
#menu-icon {
    display: block;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 17px;
    line-height: 21px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    color: #31353d;
}
}
@media only screen and (max-width: 991px){
.menu-phone {
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  border-top: 0;
  z-index: 2;
  width: 100%;
  box-sizing: border-box; 
  list-style-type: none;
 
}
}
@media only screen and (max-width: 991px){
.menu-phone li{
border-bottom: 1px solid #ccc;
padding: 10px 20px;
font-size: 16px;
position: relative;
  }
} 
@media only screen and (max-width: 991px){
    .menu-phone li a{
        color: #31353d;
      }
    } 





/* *{
    box-sizing: border-box;
}
h2{
    font-family: Arial;
    text-align: center;
    margin-top: 10px;
}
.container{
    position: relative;
}
.sliders {
    display: none;
  }
  .cursor{
      cursor: pointer;
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover,
  .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
    float: left;
    width: 16.66%;
  }
  .demo {
    opacity: 0.6;
  }
  .active,
.demo:hover {
  opacity: 1;
} */