<div class="breadcrumb-wrap">
    <h4 class="title-1">welcome to our online store</h4>
    <h1 class="title-2">Classy Food</h1>
    <img src="../../assets/Groceries-Banner.jpg" class="bg-img">
    <!-- <div class="overlay-bg"></div> -->
    <div class="overlay-content">
        <h3>For true Gourmets</h3>
    </div>
    <div class="btnstart">
        <button class="btn btn-warning" routerLink="/product-item">Shop Now</button>
    </div>
</div>
<hr>
<section class="bg-default">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6 col-md-5 ">
                <img src="../../assets/about home.jpg " class="about-img" alt=" " width="300" height="280">
            </div>
            <div class="col-md-7">
                <h4 class="title">A Few Words About Our Store</h4>
                <h2 class="about">About Us</h2>
                <p class="description">
                    Classyfood is family-owned grocery store that has been 
                    offering quality products for your everyday life since 2020,
                    while also providing superior service and competitive prices.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- <section class="parallax-container">
    <div class="service">
        <img src="../../assets/sarvice.jpg">
    </div>
</section> -->
























