
    <div class="container ">
        <div class="row mt-3 ">
            <div class="col-sm-12 col-md-6 offset-md-3 update">
                <div class="card ucard">
                    <div class="card-header text-white bg-success">
                        <h5 class="head">Field Need To Update</h5>
                    </div>
                    <div class="card-body">
                        <form #updateForm="ngForm" (ngSubmit)="onUpdate()"> 
                            <div class="form-group">
                                <label for="username">Name</label>
                                <input type="text" class="form-control" name="username" [(ngModel)]="obj.username" required >
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="email" [(ngModel)]="obj.email"  required >
                            </div>
                            <div class="form-group" *ngIf="obj.isAdmin !== undefined">
                                <label>Admin</label>
                                <input type="checkbox" (change)="isAdminChange()" [(ngModel)]="obj.isAdmin" class="form-control" name="checkbox" >
                            </div>
                            
                            <button class="btn btn-success" type="submit" [disabled]="!updateForm.valid" > Update </button>
                        </form>
                    </div>
                </div>
               
            </div>
        </div>
    </div>


